{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <main class="container">
        <section class="categories list">
            <div class="container">
                <h2>Categories</h2>
                {% for category in categories %}
                    <div class="row">
                        <h3>{{ category.title }}</h3>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="items list">
            <div class="container">
                <h2>Recent Items</h2>
            </div>
        </section>
    </main>
{% endblock %}
