{% extends "main.html" %}
{% block title %} - Delete {{ item.title }} {% endblock %}
{% block head %}
    {{ super() }}
    <style>
        #confirm {
            background-color: rgb(241, 75, 75);
        }

        #confirm:hover {
            background-color: rgb(248, 50, 50);
        }
    </style>
{% endblock %}    
{% block header %}
<div class="header-text">Delete Item</div>
{% endblock %}
{% block content %}
<section>
    <div class="section-container">
        <p>Are you sure you want to delete "{{ item.title }}"?</p>
        <br>
        <form action="{{url_for('deleteItem', category_title=category_title, item_title=item.title)}}" method="POST">
            <input id="confirm" type="submit" name="confirm_delete" value="Delete">
        </form>
        <form action="{{url_for('showCategory', category_title=category_title)}}">
            <input type="submit" name="cancel_delete" value="Cancel">
        </form>           
    </div>
</section>
{% endblock %}