{% extends "main.html" %}
{% block title %} - Edit {{ item.title }} {% endblock %}
{% block header %}
<div class="header-text">Edit Item</div>
{% endblock %}
{% block content %}
<form action="{{url_for('editItem', category_title=category.title, item_title=item.title)}}" method="POST">
    <div class="form-group">
        <label for="title">Title (required; characters: min:3, max:50):</label>
        <input type="text" maxlength="50" minlength="3" class="form-control" name="title" placeholder="{{ item.title }}" required aria-required="true" value="{{ item.title }}">

        <label for="description">Description (required; characters: min:3, max:250):</label>
        <textarea class="form-control" maxlength="250" minlength="3" rows="3" name="description" required aria-required="true">{{item.description}}</textarea>

        <label for="category">Category (required):</label>
        <select name="category" id="category-select" class="form-control" required aria-required="true">
            {% for cat in categories %}
                {% if cat._id == category._id %}
                    <option value="{{ cat._id }}" selected="selected">{{ cat.title }}</option>
                {% else %}
                    <option value="{{ cat._id }}">{{ cat.title }}</option>
                {% endif %}
            {% endfor %}    
        </select>

        <input type="submit" name="submit" value="Update">
    </div>
</form>
{% endblock %}