<header class="container header">
    <div class="topnav navbar">
        <a id="home" href="/">Catalog App</a>
        <div class="dropdown">
            <button class="dropbtn">
                Categories
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {% for category in categories %}
                    <a href="{{ url_for('showCategory', category_title=category.title) }}">
                        {{ category.title }}
                    </a>
                {% endfor%}
            </div>
        </div>
        <a id="login" href="/login">Login</a>
    </div>
</header>