<div class="topnav">
    <h1><a class="home" href="/">Catalog App</a></h1>
    <button class="button" type="button" name="login_button">Log In</button>
    <div id="signinButton">
        <span class="g-signin"
            data-scope="openid email"
            data-clientid="315217216831-h1h89eubu8q2k2728bdehkplj2obtoo6.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
        </span>
    </div>
</div>
