{% extends "main.html" %}
{% block title %} - {{ item.title }} {% endblock %}
{% block header %}
<div class="header-text">{{ item.title }}</div>
{% endblock %}
{% block content %}
<section>
    <div class="section-container">
        <p>{{ item.description }}</p>
        <br>
        <div class="row">
            <span style="margin-right: 8px;">
                <a href="{{url_for('editItem', category_title=category.title, item_title=item.title)}}">Edit</a>
            </span>
            <span>
                <a href="{{url_for('deleteItem', category_title=category.title, item_title=item.title)}}">Delete</a>
            </span>
        </div>
    </div>
</section>
{% endblock %}
