{% extends "main.html" %}
{% block title %} - New Item {% endblock %}
{% block header %}
<div class="header-text">New Item</div>
{% endblock %}
{% block content %}
<form action="{{url_for('createItem')}}" method="POST">
    <div class="form-group">
        <label for="title">Title (required; characters: min:3, max:50):</label>
        <input type="text" maxlength="50" minlength="3" class="form-control" name="title" placeholder="Item Title" required aria-required="true">

        <label for="description">Description (required; characters: min:3, max:250):</label>
        <textarea class="form-control" maxlength="250" minlength="3" rows="3" name="description" required aria-required="true"></textarea>

        <label for="category">Category (required):</label>
        <select name="category" id="category-select" class="form-control" required aria-required="true">
            <option disabled selected value>-- Select a Category --</option>
            {% for category in categories %}
            <option value="{{ category._id }}">{{ category.title }}</option>
            {% endfor %}    
        </select>

        <input type="submit" name="submit" value="Create">
    </div>
</form>
{% endblock %}